
<style>
    input {
        margin-bottom: 10px;
    }
</style>

<div class="card shadow my-5">
    <div class="card-body">
        <form class="form-group" id="contactForm" method="post" >
            <div class="row">
                <div class="col-lg-12 my-2">
                    <input class="form-control" placeholder="Location Link" type="text" name="LocationLink" />
                </div>
            </div>
            <input id="submitButton" type="submit" value="Create" class="btn btn-outline-success mt4" />
        </form>
    </div>
</div>


