@model IEnumerable<Team>
<style>
    a {
        margin-bottom: 10px;
    }

    td {
        transition: .3s ease;
    }

        td:hover {
            color: red;
        }

    .icon {
        color: #FFAA17;
    }
</style>




<div class="container">
    @if (Model.Count() <= 6)
    {
        <a class="btn btn-success mt-2 mb-3 " style=" width: 10%;" href="/dashboard/team/create">Create Team</a>
    }
    <a class="btn btn-success mt-2 mb-3 ml-5" style=" width: 10%;" href="/dashboard/role/">Role</a>
</div>



@if (Model != null)
{
    <div class="content">
        <div class="container">
            <div class="table-responsive">

                <table class="table table-striped custom-table">
                    <thead>
                        <tr>

                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Role</th>
                            <th scope="col">Photo</th>
                            <th scope="col">Action</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var team in Model)
                        {
                            <tr scope="row" class="font-weight-bold">
                                <td>@team.Id</td>
                                <td>@team.Name</td>
                                <td>@team.Roles.RoleName</td>
                                <td>
                                    <img width="150" src="~/@team.PhotoURL" />
                                </td>
                                <td>
                                    <a style="color:#fff;" class="btn btn-warning" href="/dashboard/team/edit/@team.Id">Edit</a>
                                    <a team-value="@team.Id" style="color:#fff;" class=" btnSave btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>


        </div>
    </div>
}
else
{
    <div class="container">
        <div class="alert text-center alert-info">Bazada melumat yoxdur</div>
    </div>
}


@section Scripts {
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

    $(".btnSave").click(function(e) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                let teamId = e.currentTarget.attributes[0].value
                $.ajax({
                    method: "POST",
                    url: "team/delete/",
                    data: {
                        id: teamId
                    }
                })
                Swal.fire({
                    title: 'Deleted',
                    text: "team is delete!",
                    icon: 'success',

                }).then((result) => {
                    window.location = "team"
                })

            }
        })
    })
</script>
}



