@model IEnumerable<Client>

@{
    ViewData["Title"] = "Testimonial Page";
}


<div class="page-header container-fluid bg-primary d-flex flex-column align-items-center justify-content-center">
    <h1 class="display-3 text-uppercase mb-3">Testimonial</h1>
    <div class="d-inline-flex text-white">
        <h6 class="text-uppercase m-0"><a class="text-white" href="">Home</a></h6>
        <h6 class="m-0 px-3">/</h6>
        <h6 class="text-uppercase m-0">Testimonial</h6>
    </div>
</div>

@if (Model != null)
{
    <div class="container-fluid py-5">
        <div class="container py-5">
            <h1 class="display-4 text-uppercase text-center mb-5">Our Client's Say</h1>
            <div class="owl-carousel testimonial-carousel">
                @foreach (var client in Model)
                {
                    <div class="testimonial-item position-relative text-center rounded p-4">
                        <img class="img-fluid rounded mx-auto my-4" src="@client.PhotoURL" alt="">
                        <h5 class="text-uppercase">@client.Name</h5>
                        <p class="text-uppercase">@client.Profession</p>
                        <p class="text-secondary">@client.Description</p>
                    </div>
                }
            </div>
        </div>
    </div>
}
else
{
    <br />
    <br />
    <br />
    <br />
    <div class="container">
        <h3 class="alert alert-danger font-monospace text-center">Bazada melumat yoxdur</h3>
    </div>
}