<style>
    input {
        margin-bottom: 10px;
    }
</style>

<div class="card shadow my-5">
    <div class="card-body">
        <form class="form-group" method="post">
            <input class="form-control" type="text" name="RoleName" placeholder="Role Name" />
            <br />
            <input type="submit" value="Create" class="btn btn-outline-success" />
            <div>
                <a class="btn btn-success" href="/dashboard/role">Return Index</a>
            </div>
        </form>
    </div>
</div>